/pickle/decision_tree_model.pkl
/pickle/knn_model.pkl
/pickle/logistic_regression_model.pkl
/pickle/svm_model.pkl
/pickle/test_data_decision_tree.pkl
/pickle/test_data_knn.pkl
/pickle/test_data_logistic_regression.pkl
/pickle/test_data_svm.pkl
